<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Demo chat socket IO</title>
	<script src="jquery.js"></script>
	<script src="https://thanhgiong-pj2.herokuapp.com/socket.io/socket.io.js"></script>
	<script src="xuly.js"></script>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
	<div id="wrapper">
		<div id="loginForm">
			<h3>What's your name?</h3>
			<input type="text" id="txtUsername">
			<input type="button" value="Register" id="btnRegister">
		</div>
		<div id="chatForm">
			<div id="left">
				<div id="boxTitle">Uses Online</div>
				<div id="boxContent">

				</div>
			</div>

			<div id="right">
				<div id="sayHi">
					Hello <span id="currentUser">Teo</span>
					<input type="button" id="btnLogout" value="Logout">
				</div>

				<div id="listMessages">
					
				</div>
				<div id="thongbao"></div>
				<input type="text" id="txtMessage">
				<input type="button" id="btnSendMessage" value="Send">
			</div>
		</div>
		<h3>My Google Maps Demo</h3>
		<div id="map">
		</div>
		<script>
      function initMap() {
        var uluru = {lat: 21.0278, lng: 105.8342};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>

		<script async defer
		  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ4euYDLLtFWXan8feurtp4IVP58wgNJ4&callback=initMap">
		</script>
	</div>
</body>
</html>